{# Homepage template #}

{% extends "layouts/homepage.twig" %}

{% block content %}

{# <ul class="pagination">
  <li><a href="#screen-1" class="active"><span class="hover-text">Home</span></a></li>
  <li><a href="#screen-2"><span class="hover-text">CU Boulder EMP</span></a></li>
  <li><a href="#screen-3"><span class="hover-text">NOVA</span></a></li>
  <li><a href="#screen-4"><span class="hover-text">Penn LPS Online</span></a></li>
  <li><a href="#screen-5"><span class="hover-text">Team</span></a></li>
  <li><a href="#screen-6"><span class="hover-text">Culture</span></a></li>
  <li><a href="#screen-7"><span class="hover-text">EduInsights</span></a></li>
</ul> #}

<div id="fullpage">

<style type='text/css'>

{# Hero Section - Intro #}
  {% if Image(post.meta('hero_section').hero_image).src %}
  .screen-panel.screen-1 {
  background-image: linear-gradient(to bottom,rgba(28,40,85,0.6),rgba(28,40,85,0.6)), url({{ Image(post.meta('hero_section').hero_image).src }})!important;
  }
  {% endif %}

{# Section 1 - Portfolio Item 1 #}
  {% if Image(post.meta('section_one').section_background_image).src %}
  .screen-2 {
  background-image: url({{ Image(post.meta('section_one').section_background_image).src }})!important;
  }
  {% endif %}

  {% if Image(post.meta('section_one').section_mobile_background_image).src %}
  @media (max-width: 1200px) {
    .screen-2 {
  background-image: url({{ Image(post.meta('section_one').section_mobile_background_image).src }})!important;
  }
  }
  {% endif %}



  {# Section 2 - Portfolio Item 2 #}
    {% if Image(post.meta('section_two').section_background_image).src %}
    .screen-3 {
    background-image: url({{ Image(post.meta('section_two').section_background_image).src }})!important;
    }
    {% endif %}

    {% if Image(post.meta('section_two').section_mobile_background_image).src %}
    @media (max-width: 1200px) {
      .screen-3 {
    background-image: url({{ Image(post.meta('section_two').section_mobile_background_image).src }})!important;
    }
    }
    {% endif %}



    {# Section 3 - Portfolio Item 3 #}
      {% if Image(post.meta('section_three').section_background_image).src %}
      .screen-4 {
      background-image: url({{ Image(post.meta('section_three').section_background_image).src }})!important;
      }
      {% endif %}

      {% if Image(post.meta('section_three').section_mobile_background_image).src %}
      @media (max-width: 1200px) {
        .screen-4 {
      background-image: url({{ Image(post.meta('section_three').section_mobile_background_image).src }})!important;
      }
      }
      {% endif %}



      {# Section 4 - Portfolio Item 4 #}
        {% if Image(post.meta('section_four').section_background_image).src %}
        .screen-5 {
        background-image: url({{ Image(post.meta('section_four').section_background_image).src }})!important;
        }
        {% endif %}

        {% if Image(post.meta('section_four').section_mobile_background_image).src %}
        @media (max-width: 1200px) {
          .screen-5 {
        background-image: url({{ Image(post.meta('section_four').section_mobile_background_image).src }})!important;
        }
        }
        {% endif %}



        {# Section 5 - Portfolio Item 5 #}
          {% if Image(post.meta('section_five').section_background_image).src %}
          .screen-6 {
          background-image: url({{ Image(post.meta('section_five').section_background_image).src }})!important;
          }
          {% endif %}

          {% if Image(post.meta('section_five').section_mobile_background_image).src %}
          @media (max-width: 1200px) {
            .screen-6 {
          background-image: url({{ Image(post.meta('section_five').section_mobile_background_image).src }})!important;
          }
          }
          {% endif %}

</style>

{# Screen 1 - Intro #}
<section class="screen-panel screen-1 vp-fp-section" data-anchor="screen-1">
  <div class="container d-flex justify-content-center align-items-center vp-fg-panel_content">
    <div class="header-content vp-is-hidden vpa-fade vpa-slide-edge-bottom">
      {{ post.meta('hero_section').hero }}
    </div>
    {# <div class="gallery0"><a href="/#" class="home-start-bubble">Start a conversation</a></div> #}
  </div>
  <div class="vp-scroll-indicator" aria-hidden="true"></div>
</section>

{# Screen 2 - Portfolio Item 1 #}
<section class="screen-panel screen-2 vp-fp-section fp-auto-height-responsive" data-anchor="screen-2">
  <div class="inner">
    <div class="content vpa-on-scroll-to vpa-slide-edge-bottom">
      {{ post.meta('section_one').section_content }}
    </div>
  </div>
</section>

{# Screen 3 - Portfolio Item 2 #}
<section class="screen-panel screen-3 vp-fp-section fp-auto-height-responsive" data-anchor="screen-3">
  <div class="inner">
    <div class="content vpa-on-scroll-to vpa-slide-edge-bottom">
      {{ post.meta('section_two').section_content }}
    </div>
  </div>
</section>

{# Screen 4 - Portfolio Item 3 #}
<section class="screen-panel screen-4 vp-fp-section fp-auto-height-responsive" data-anchor="screen-4">
  <div class="inner">
    <div class="content vpa-on-scroll-to vpa-slide-edge-bottom">
      {{ post.meta('section_three').section_content }}
    </div>
  </div>
</section>

{# Screen 5 - Team Member #}
<section class="screen-panel screen-5 vp-fp-section fp-auto-height-responsive" data-anchor="screen-5">
  <div class="inner">
    <div class="content vpa-on-scroll-to vpa-slide-edge-bottom">
      {{ post.meta('section_four').section_content }}
    </div>
  </div>
</section>

{# Screen 6 - VPM Culture #}
<section class="screen-panel screen-6 vp-fp-section fp-auto-height-responsive" data-anchor="screen-6" style="background-image: url({{ Image(post.meta('section_five').section_background_image).src }});">
  <div class="inner">
    <div class="content vpa-on-scroll-to vpa-slide-edge-bottom">
      {{ post.meta('section_five').section_content }}
    </div>
  </div>
</section>

{# Screen 7 - EduInsights Section #}
<section class="screen-panel screen-7 vp-fp-section fp-auto-height-responsive" data-anchor="screen-7">
  <div class="inner">
    <div class="content">
      <h2>EduInsights</h2>
      <section class="homepage-eduinsights teaser-grid">
        {% for post in newest_posts %}
          {% include ['tease.twig'] %}
        {% endfor %}
      </section>

      <p class="text-center">
        <a href="/eduinsights" class="home-cta">Explore eduINSIGHTS</a>
      </p>

    </div>
  </div>
</section>
{# End EduInsights Section #}

{# Footer #}
{% block footer %}
    {% include 'footer.twig' %}
    {{ function('wp_footer') }}
{% endblock %}
{# End Footer #}

</div> <!-- end #fullpage -->

{% endblock %}
